

.header
{
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url('../images/header_background.png');
}

.header .intro
{
    background-color: transparent;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.page-nav-wrapper a
{
    font-size: 18px;
}

.header .contact-info ul
{
    font-size: 20px;
}

.image-pad5
{
}

.fixed-row-200
{
}

.testimonials-section
{
    background-color: rgba(0, 120, 136, 0.14);
    min-height: 500px;
}

.container-fluid
{
    max-width: 1200px;
}

.portfolio-section
{
}

.portfolio-section
{
}

.section-portfolio
{
    background-color: #2B2B2B;
}

.light-title
{
    color: #d9d9d9;
}

.portfolio-column-inner
{
    padding: 10px;
    margin-bottom: 20px;
    border-left: solid gray 1px;
    border-bottom: solid gray 1px;
    border-right: solid gray 1px;
    border-top: solid gray 1px;
    border-radius: 2px;
    color: whitesmoke;
    display: grid;
    box-shadow: 0px 1px 4px #008FA1;
    min-height: 350px;
}

.contact-form
{
    max-width: 1000px;
}

.contact-dialog-container
{
}

.contact-dialog-container
{
}

.contact-dialog
{
    margin-bottom: 30px;
}

.section-container-1200px
{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.align-center
{
    margin-left: auto;
    margin-right: auto;
}

.center-text
{
    text-align: center;
}

.portfolio-div
{
    height: 60px;
}

@media (min-width:768px)
{
    .intro-padding
    {
        padding-left: 30px;
    }
}

.image-resize
{
}

@media (min-width:480px)
{
    .image-sizing
    {
        width: 300px;
        height: 300px;
    }
}

@media (max-width:479px)
{
    .image-sizing
    {
        width: 200px;
        height: 200px;
    }
}

.max-1200px
{
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.center-text
{
}

@media (max-width:479px)
{
    .intro-padding
    {
        text-align: center;
    }
}

@media (min-width:480px)
{
    .blog-feature-image
    {
        opacity: .25;
        background-repeat: no-repeat;
        background-size: 100%;
        overflow: hidden;
        vertical-align: middle;
        margin-bottom: 20px;
    }
}

.blog-thumbnail-image
{
    max-height: 150px;
}

.thumbnail
{
    padding: 0px;
}

.feature-article
{
    padding-left: 20px;
    padding-right: 20px;
}

.blog-article
{
    color: black;
    margin-bottom: 20px;
    margin-left: -2px;
}

.hidden
{
}

.hidden
{
}

.panel
{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 1px solid #788CA3;
    border-radius: 2px;
    padding-left: 10px;
    padding-right: 10px;
}

.panel-heading
{
    padding: 0px;
}

.panel-default>.panel-heading
{
    background: transparent;
}

.panel-body
{
    padding-left: 0px;
    padding-right: 0px;
}

p
{
    margin: 0px;
}

.disqus-panel
{
    height: 100px;
}

.disqus-thread-container
{
    height: 100px;
}

.heading-right
{
    float: right;
}

.heading-left
{
    float: left;
}

.back-link-div
{
    padding: 5px 10px;
    background-color: #007888;
    display: inline-block;
    border-radius: 2px;
}

.back-link
{
    color: black;
}

@media (max-width:479px)
{
    .blog-feature-image
    {
        opacity: .25;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-bottom: 20px;
        overflow: hidden;
        vertical-align: middle;
    }
}

.blog-title-date
{
    display: inline-block;
    float: right;
    margin-right: 10px;
    margin-top: 20px;
}

hr
{
    margin-top: 0px;
    margin-bottom: 10px;
    border: 0;
    border-top: 1px solid #007888;
}

.blog-heading-title
{
    color: #007888;
}

.feature-blog-article
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading-center
{
    display: block;
    text-align: center;
}

.header a
{
    text-decoration: none;
}

.blog-feature-image-200
{
    height: 250px;
}

.blog-short-image
{
    height: 200px;
    opacity: .25;
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.post-date
{
    margin-top: -10px;
}

.h3,.h4,.h5,.h6,h3,h4,h5,h6
{
    line-height: 1.5;
}

.fa-black
{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: gray;
}

@media (max-width:479px)
{
    .blog-short-image
    {
        max-height: 100px;
    }
}

.google-doc
{
    margin-left: -5px;
    margin-top: -10px;
}

.post
{
    padding: 15px;
}


